name: Diabetes Prediction Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'pip' 

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas matplotlib

    - name: Check Files
      run: |
        ls -R
        python --version

    - name: Train Model
      run: |
        mlflow run . -P max_iter=1000 --env-manager=local --experiment-name Diabetes_GitHub_Actions
