name: Diabetes Prediction Pipeline (Anaconda)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Mamba/Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: mlflow-env
        environment-file: conda.yml
        auto-activate-base: false
        use-mamba: true 

    - name: Debug Environment
      run: |
        conda info
        conda list
        python --version

    - name: Train Model
      run: |
        mlflow run . -P max_iter=1000 --env-manager=local --experiment-name Diabetes_GitHub_Actions
